@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,900");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif; }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: #F2F2F2; }

a, a:hover, a:active, a:focus {
  outline: none;
  outline-offset: 0; }

.c-input {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  line-height: 6.5rem;
  outline: none;
  outline-offset: 0; }
.c-input--email {
  padding-right: 14.5rem;
  padding-left: 5.2rem;
  color: #ffffff;
  background-color: #262626;
  background-position: 1.5rem center;
  background-repeat: no-repeat; }
@media screen and (max-width: 767px) {
  .c-input--email {
    padding: 0 2rem;
    background-image: none !important; } }
.c-input--zip {
  padding-left: 5.2rem;
  color: #9DA1A2;
  border: 1px solid #ECEBEB;
  background-color: #F3F3F3;
  background-position: 1.5rem center;
  background-repeat: no-repeat; }
@media screen and (max-width: 767px) {
  .c-input--zip {
    padding: 0 2rem;
    background-image: none !important; } }
@media screen and (max-width: 767px) {
  .c-input {
    font-size: 1.6rem;
    background-image: none !important; } }

.c-button-card {
  width: 5rem;
  height: 3.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("./../img/next-card.png");
  background-color: #ffffff;
  border: 1px solid #ECEBEB;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  outline: none; }
.c-button-card:hover {
  border: 1px solid transparent;
  background-color: #1D1D1D;
  background-image: url("./../img/next-card-white.png");
  outline: none; }
.c-button-card:active {
  outline: none; }
@media screen and (max-width: 991px) {
  .c-button-card {
    height: 100%;
    width: calc(33.333% + 3rem);
    width: 8rem;
    border-radius: 50%;
    max-height: 8rem;
    min-height: 8rem;
    border: 1px solid #ECEBEB; } }

.c-button {
  display: inline-block;
  width: 100%;
  padding: 0 5.5rem;
  border-radius: 0.5rem;
  line-height: 6.6rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  background-color: #67CECD;
  background-position: 90% center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: background-color ease-out 0.5s;
  transition: background-color ease-out 0.5s; }
.c-button:hover {
  background-color: #1D1D1D; }
@media screen and (max-width: 767px) {
  .c-button {
    font-size: 2rem;
    text-transform: inherit;
    background-image: none !important; } }

.l-section {
  max-width: 126rem;
  margin: 0 auto; }

.l-container {
  margin: 0 2rem; }

.l-hero {
  height: 48rem;
  position: relative;
  background: #67CECD; }
@media screen and (max-width: 1199px) {
  .l-hero {
    margin-bottom: 5rem; } }
@media screen and (max-width: 991px) {
  .l-hero {
    margin-bottom: 5rem; } }

.l-hero__scroll {
  overflow: scroll; }
.l-hero__scroll--hide {
  overflow: hidden; }

.l-hero__hamburger {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 100; }

.l-hero__navigation {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #67CECD;
  z-index: 99; }
.l-hero__navigation--show {
  display: block; }

.l-hero__navigation-url {
  display: block;
  margin: 1rem;
  color: #ffffff;
  font-size: 5rem;
  text-decoration: none; }

.l-hero__navigation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.l-hero__wave {
  width: 100%;
  margin-top: -0.5rem;
  background-color: #F3F3F3;
  margin-bottom: 18rem; }
@media screen and (max-width: 1199px) {
  .l-hero__wave {
    display: none; } }

.l-hero__form {
  width: 100%;
  max-width: 95rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -20rem;
  padding: 3.5rem 4.5rem 4.7rem;
  background: #ffffff;
  border-radius: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
@media screen and (max-width: 1199px) {
  .l-hero__form {
    width: 100%;
    max-width: none;
    bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding: 2rem; } }

.l-hero__form-error {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #F3F3F3;
  color: #1E1E1E;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center; }

.l-hero__form-img {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: calc(-100% - 8rem); }
@media screen and (max-width: 1199px) {
  .l-hero__form-img {
    display: none; } }

.l-hero__form-item {
  margin: 0 0.5rem; }
.l-hero__form-item--50 {
  width: 50%; }
.l-hero__form-item--30 {
  width: 30%; }
.l-hero__form-item--20 {
  width: 20%; }
@media screen and (max-width: 991px) {
  .l-hero__form-item {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0; } }

.l-hero__form-title {
  font-size: 5rem;
  font-weight: 600; }
@media screen and (max-width: 991px) {
  .l-hero__form-title {
    font-size: 4rem; } }
@media screen and (max-width: 767px) {
  .l-hero__form-title {
    font-size: 2rem; } }

.l-hero__form-grid {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
@media screen and (max-width: 991px) {
  .l-hero__form-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.l-hero-charts {
  position: relative;
  height: 50rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #ffffff; }

.l-hero-charts__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.l-hero-charts__logo {
  position: absolute;
  z-index: 99; }

.l-hero-charts__city {
  padding: 3rem 3.7rem;
  position: absolute;
  top: 12rem;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  text-align: center;
  border-radius: 1rem;
  background-color: #ffffff; }
@media screen and (max-width: 1199px) {
  .l-hero-charts__city {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 80%; } }

.l-hero-charts__city-subtitle {
  text-transform: uppercase;
  color: #9C9FA0;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.3rem; }
@media screen and (max-width: 1199px) {
  .l-hero-charts__city-subtitle {
    font-size: 2rem; } }
@media screen and (max-width: 767px) {
  .l-hero-charts__city-subtitle {
    font-size: 1.6rem; } }

.l-hero-charts__city-title {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3rem; }
@media screen and (max-width: 1199px) {
  .l-hero-charts__city-title {
    font-size: 2rem; } }

.l-air {
  text-align: center; }

.l-air__subtitle {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: #989A99; }
@media screen and (max-width: 1199px) {
  .l-air__subtitle {
    font-size: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; } }
@media screen and (max-width: 767px) {
  .l-air__subtitle {
    font-size: 1.3rem; } }

.l-air__title {
  margin-bottom: 6.3rem;
  font-size: 4rem;
  font-weight: 600;
  color: #1E1E1E;
  letter-spacing: 0.1rem; }
@media screen and (max-width: 1199px) {
  .l-air__title {
    font-size: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; } }
@media screen and (max-width: 767px) {
  .l-air__title {
    font-size: 2rem; } }

.l-air__card {
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -1.5rem; }
@media screen and (max-width: 1199px) {
  .l-air__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; } }

.l-air__card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 3rem;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  margin: 0 1.5rem 3rem;
  width: calc(50% - 3rem);
  border-radius: 1rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
@media screen and (max-width: 1199px) {
  .l-air__card-grid {
    width: calc(100% - 3rem); } }
@media screen and (max-width: 991px) {
  .l-air__card-grid {
    width: calc(100% - 3rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem; } }

.l-air__card-item {
  width: calc(100% - 16rem); }
.l-air__card-item--last {
  border-left: 1px solid #ECEBEB;
  width: 16rem; }
@media screen and (max-width: 991px) {
  .l-air__card-item--last {
    width: 100%;
    text-align: left;
    border: none; } }
@media screen and (max-width: 991px) {
  .l-air__card-item {
    width: 100%; } }

.l-air__card-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
@media screen and (max-width: 767px) {
  .l-air__card-country {
    margin-top: 0; } }

.l-air__country-img {
  width: 9.4rem;
  height: 9.4rem;
  min-width: 8rem;
  min-height: 8rem;
  max-height: 9.4rem;
  margin-right: 1.8rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center center; }
@media screen and (max-width: 991px) {
  .l-air__country-img {
    width: 8rem;
    height: 8rem; } }

.l-air__country-title {
  font-weight: 600;
  color: #1E1E1E;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: left; }
@media screen and (max-width: 991px) {
  .l-air__country-title {
    font-size: 2rem; } }

.l-air__country-title-img {
  width: 1.7rem;
  height: 0.7rem; }
@media screen and (max-width: 991px) {
  .l-air__country-title-img {
    display: none; } }

.l-air__card-meta-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.8rem;
  margin-bottom: 4rem; }

.l-air__card-meta-item {
  width: 33.333%;
  margin-bottom: 3rem;
  padding-left: 0.7rem;
  text-align: left; }

.l-air__card-meta-title {
  color: #1E1E1E;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 300; }
@media screen and (max-width: 991px) {
  .l-air__card-meta-title {
    font-size: 1.6rem; } }

.l-air__card-meta-description {
  margin-top: 1rem;
  color: #989A99;
  font-size: 1.6rem;
  font-weight: 300; }
@media screen and (max-width: 991px) {
  .l-air__card-meta-description {
    font-size: 2rem;
    color: #1E1E1E; } }

.l-air__card-number {
  padding-top: 3rem;
  height: 100%;
  position: relative; }
@media screen and (max-width: 991px) {
  .l-air__card-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 8rem;
    padding-top: 0;
    justify-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.l-air__card-number-title {
  width: 7rem;
  margin: 0 auto;
  margin-bottom: 1.3rem;
  padding: 2.4rem 0 6rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center; }
.l-air__card-number-title--turquoise {
  background: #4BC7C9; }
.l-air__card-number-title--scarlet {
  background: #FF553D; }
.l-air__card-number-title--blue {
  background: #4097FF; }
.l-air__card-number-title--orange {
  background: #FE993D; }
.l-air__card-number-title--purple {
  background: #903FFF; }
@media screen and (max-width: 991px) {
  .l-air__card-number-title {
    width: 8rem;
    height: 8rem;
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    font-size: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    line-height: 3.9; } }

.l-air__card-number-index {
  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  color: #1E1E1E; }
@media screen and (max-width: 991px) {
  .l-air__card-number-index {
    margin-bottom: 0;
    width: calc(100% - 12rem);
    vertical-align: middle;
    font-size: 2rem; } }

.l-charts {
  position: relative;
  z-index: 1;
  margin-top: -17.5rem;
  background: transparent; }
@media screen and (max-width: 1199px) {
  .l-charts {
    margin-top: 3rem; } }

.l-charts__container {
  border-radius: 1rem;
  background: #ffffff;
  padding: 3rem;
  margin-bottom: 3.2rem;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05); }
@media screen and (max-width: 767px) {
  .l-charts__container {
    padding: 1.2rem;
    margin-bottom: 2rem; } }

.l-charts__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin: 0 -1.5rem; }
@media screen and (max-width: 1199px) {
  .l-charts__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0; } }

.l-charts__item {
  width: calc(50% - 3rem);
  border-radius: 1rem;
  background: #ffffff;
  padding: 3em;
  margin-bottom: 3.2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05); }
@media screen and (max-width: 1199px) {
  .l-charts__item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2rem; } }
@media screen and (max-width: 767px) {
  .l-charts__item {
    padding: 2rem; } }

.l-charts__title {
  font-size: 2rem;
  font-weight: bold;
  color: #1E1E1E; }
.l-charts__title--mini {
  display: inline-block;
  margin-left: 0.8rem;
  font-weight: bold;
  color: #1E1E1E;
  font-size: 1.3rem; }
@media screen and (max-width: 1199px) {
  .l-charts__title {
    font-size: 2rem; } }
@media screen and (max-width: 767px) {
  .l-charts__title {
    font-size: 1.6rem;
    text-transform: uppercase; } }

@media screen and (max-width: 1199px) {
  .l-charts__title-figure {
    display: none; } }

.l-charts__data {
  position: relative;
  margin-top: 2rem; }
@media screen and (max-width: 767px) {
  .l-charts__data {
    margin: 0; } }

.l-charts__data-ico {
  width: 13rem;
  height: 13rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
@media screen and (max-width: 767px) {
  .l-charts__data-ico {
    width: 6rem;
    height: 6rem; } }

.l-charts__data-number {
  margin-left: 15rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 3; }
@media screen and (max-width: 1199px) {
  .l-charts__data-number {
    font-size: 4rem; } }
@media screen and (max-width: 767px) {
  .l-charts__data-number {
    width: 6rem;
    margin-left: 8rem;
    line-height: 2; } }

.l-quote {
  margin-top: 11rem;
  padding: 7rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
@media screen and (max-width: 767px) {
  .l-quote {
    padding: 2rem; } }

.l-quote__container {
  margin: 0 auto;
  padding: 4.2rem 7.9rem 3rem;
  max-width: 57rem;
  background-color: #2A2827;
  text-align: center;
  border-radius: 1rem; }
@media screen and (max-width: 767px) {
  .l-quote__container {
    max-width: none;
    width: 100%;
    padding: 2rem; } }

.l-quote__text {
  margin-bottom: 1.3rem;
  font-size: 2rem;
  color: #ffffff; }

.l-quote__url {
  color: #4BC7C9;
  font-weight: bold;
  font-size: 4rem; }
@media screen and (max-width: 767px) {
  .l-quote__url {
    font-size: 2rem; } }

.l-learn {
  margin-top: 11.5rem; }
@media screen and (max-width: 767px) {
  .l-learn {
    margin-top: 5rem; } }

.l-learn__wave {
  width: 100%;
  margin-bottom: -0.5rem;
  background-color: #F3F3F3; }
@media screen and (max-width: 767px) {
  .l-learn__wave {
    display: none; } }

.l-learn__description-img {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: calc(-100% - 13rem); }
@media screen and (max-width: 1199px) {
  .l-learn__description-img {
    display: none; } }

.l-learn__description {
  height: 54rem;
  position: relative;
  background: #67CECD; }
@media screen and (max-width: 1199px) {
  .l-learn__description {
    height: 30rem; } }

.l-learn__quote {
  margin: 0 auto;
  position: absolute;
  bottom: 5.5rem;
  max-width: 57rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 3.8rem 6.8rem 2.6rem;
  text-align: center;
  border-radius: 0.5rem;
  background: #ffffff; }

.l-learn__quote-site {
  margin-top: 1.5rem;
  max-height: 17rem;
  display: block;
  font-size: 4rem;
  color: #1E1E1E;
  font-weight: 600; }
@media screen and (max-width: 767px) {
  .l-learn__quote-site {
    font-size: 2rem; } }

.l-learn__quote-text {
  font-size: 2rem;
  color: #1E1E1E; }
@media screen and (max-width: 767px) {
  .l-learn__quote-text {
    font-size: 1.6rem; } }

.l-footer {
  padding: 8.5rem 0 8.2rem;
  background: #1E1E1E; }

.l-footer__nav {
  margin: 0 auto;
  max-width: 75rem;
  margin-bottom: 4rem; }

.l-footer__nav-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
@media screen and (max-width: 767px) {
  .l-footer__nav-grid {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem; } }

.l-footer__nav-item {
  width: 25%; }
@media screen and (max-width: 767px) {
  .l-footer__nav-item {
    width: 50%;
    margin-bottom: 3rem; } }
@media screen and (max-width: 479px) {
  .l-footer__nav-item {
    width: 100%; } }

.l-footer__nav-title {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.6rem;
  background-repeat: no-repeat;
  background-position: left bottom; }
.l-footer__nav-title:before {
  position: absolute;
  bottom: -1rem;
  display: block;
  content: url("data:image/svg+xml,%3Csvg width='17px' height='7px' viewBox='0 0 17 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)' fill-rule='nonzero' stroke='%2350E3C2' stroke-width='2'%3E%3Cpath d='M0.5,4.5 L6.5,0.5' id='Line'%3E%3C/path%3E%3Cpath d='M10.5,3.5 L14,1' id='Line' transform='translate(12.000000, 2.500000) rotate(-3.000000) translate(-12.000000, -2.500000) '%3E%3C/path%3E%3Cpath d='M6.75007557,3.83903854 L10.3018997,0.900578881' id='Line' transform='translate(8.454126, 2.322673) rotate(-91.000000) translate(-8.454126, -2.322673) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
@media screen and (max-width: 767px) {
  .l-footer__nav-title:before {
    content: ""; } }
@media screen and (max-width: 767px) {
  .l-footer__nav-title {
    font-size: 2rem; } }

.l-footer__nav-url {
  display: block;
  font-size: 1.3rem;
  text-decoration: none;
  margin-bottom: 2rem;
  color: #545454; }
@media screen and (max-width: 767px) {
  .l-footer__nav-url {
    font-size: 1.6rem;
    color: #989A99; } }

.l-footer__social {
  width: 100%;
  text-align: center; }

.l-footer__copyright {
  position: relative;
  width: 30rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  font-size: 1.3rem;
  text-align: center;
  color: #8E9192; }
.l-footer__copyright:after {
  position: absolute;
  bottom: -2rem;
  display: block;
  content: url("data:image/svg+xml,%3Csvg width='17px' height='7px' viewBox='0 0 17 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)' fill-rule='nonzero' stroke='%2350E3C2' stroke-width='2'%3E%3Cpath d='M0.5,4.5 L6.5,0.5' id='Line'%3E%3C/path%3E%3Cpath d='M10.5,3.5 L14,1' id='Line' transform='translate(12.000000, 2.500000) rotate(-3.000000) translate(-12.000000, -2.500000) '%3E%3C/path%3E%3Cpath d='M6.75007557,3.83903854 L10.3018997,0.900578881' id='Line' transform='translate(8.454126, 2.322673) rotate(-91.000000) translate(-8.454126, -2.322673) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
@media screen and (max-width: 767px) {
  .l-footer__copyright:after {
    display: none; } }
.l-footer__copyright--turquoise {
  color: #4BC7C9; }
.l-footer__copyright--turquoise:after {
  content: ''; }
@media screen and (max-width: 767px) {
  .l-footer__copyright {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 4rem; } }

.l-footer__social-url {
  width: 2rem;
  height: 2rem;
  margin: 0 3rem;
  opacity: 0.5; }

.l-footer__social-url-img {
  width: 2rem; }
@media screen and (max-width: 767px) {
  .l-footer__social-url-img {
    width: 4rem;
    margin: 0 1rem; } }
